<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Spam Detector</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>📩 Spam Ham Detector</h1>

    <form method="POST">

        <textarea
            name="message"
            placeholder="Type your message here..."
            required></textarea>

        <br>

        <button type="submit">
            🔍 Detect Message
        </button>

    </form>

    {% if result %}
    <div class="result">
        {{ result }}
    </div>
    {% endif %}

</div>

</body>
</html>